{% extends 'Base.html' %}
{% block title %}
Cadastro
{% endblock %}
{% block conteudo %}

<div>
    <form action="/register" method="POST">
        <div>
            <h1>CADASTRE-SE</h1>
        </div>
        <div>
            <label for="login">Login</label>
            <input type="text" id="login-form" name="login">
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" id="password-form" name="password" placeholder="Insira sua senha">
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>

{% endblock %}