{% extends 'Base.html' %}
{% block title %}
Cálculo
{% endblock %}

{% block conteudo %}
<div class="container-grid">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/index">Página Inicial</a>
                    <form method="POST" action="/historico">
                        <button class="nav-link" type="submit">Histórico</button>
                    </form>

                </div>
            </div>
        </div>
    </nav>


    <div class="container-form">
        <form action="/gerar" method="POST">
            <div class="area-lote">
                <h1>Bem vindo, {{ login_user }}</h1>
                <div>
                    <label>Qual o formato da área desejada para o cálculo?</label>
                    <div>
                        <label>Retangulo</label>
                        <input type="radio" name="option" value="RECTANGLE">
                    </div>
                    <div>
                        <label>Elipse</label>
                        <input type="radio" name="option" value="ELIPSE">
                    </div>

                </div>

                <p>Área do Lote</p>
                <input type="number" id="area-lote" name="area-lote" placeholder="Digite o valor da área do lote">
            </div>
            <div>
                <p>Tamanho horizontal excedente</p>
                <input type="number" id="x-extra" name="x-extra"
                       placeholder="Digite o valor tamanho horizontal excedente">
            </div>
            <div>
                <p>Tamanho vertical excedente</p>
                <input type="number" id="y-extra" name="y-extra"
                       placeholder="Digite o valor tamanho vertical excedente">
            </div>
            <div>
                <p>Custo por metro quadrado</p>
                <input type="number" id="custo" name="custo" placeholder="Digite o custo m²">
            </div>
            <div>
                <button type="submit">Gerar</button>
            </div>
        </form>

    </div>


</div>
<style>
    body, html {
        font-family: Roboto;
        font-size: 30px;
        color: antiquewhite;
        height: 100%;
        margin: 0;
        /* The image used */
        background-image: linear-gradient(180deg, steelblue,slateblue, blueviolet);
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    input[type="number"] {
        background: transparent;
        border-color: #1463F3;
        border-radius: 2rem;
        width: max-content;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #84A4FC;
    }
</style>
{% endblock %}
