{% extends 'Base.html' %}
{% block title %}
    Login
{% endblock %}
{% block conteudo %}
    <form action="/validate" method="POST">
        <div>
            <label for="login">login</label>
            <input type="text" id="login-form" name="login">
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" id="password-form" name="password" placeholder="Insira sua senha">
        </div>
        <div>
            <button type="submit">Entrar</button>
        </div>

    </form>
{% endblock %}
